* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color: #232326;


}

.container{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: white;
    display: flex;


}

.container .chat-izquierda{
    position: relative;
    flex: 30%;
    background-color: white;
    border-right: 1px solid #000;
}

.container .chat-derecha{
    position: relative;
    flex: 70%;
    background-color: #e5ddd5;
}

.header-chat{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.imguser{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buscador-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.buscador-chat div{
    width: 100%;
}

.buscador-chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 20px;
    font-size: 14px;
    padding-left: 30px;
}

.lista-conversaciones{
    position: relative;
    height: calc(100% - 110px);
    overflow: auto;
}

.lista-conversaciones .bloque-conversacion{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #3b3a3a;
    cursor: pointer;
}
.lista-conversaciones .bloque-conversacion .conversacionimg{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;
}

.lista-conversaciones .bloque-conversacion .detalles-conversacion{
    position: relative;
    width: 100%;
}

.lista-conversaciones .bloque-conversacion .detalles-conversacion .lista-encabezado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.lista-conversaciones .bloque-conversacion .detalles-conversacion .lista-encabezado h4{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.lista-conversaciones .bloque-conversacion .detalles-conversacion .lista-encabezado .hora{
    font-size: 12px;
    color: #3e3e3e;
}
.lista-mensaje{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lista-mensaje p{
    color: #3e3e3e;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span{
    font-size: 0.8em;
    color: #3e3e3e;
}

.chat-mensajes{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.mensaje{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;

}

.mensaje p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #b77b49;
    border-radius: 10px;
    font-size: 0.9em;
}

.mensaje p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #b77b49 0%, #b77b49 50%, transparent 50%, transparent);

}

.mensaje p span{
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    opacity: 0.5;
}

.mi-mensaje{
    justify-content: flex-end;
}

.su-mensaje{
    justify-content: flex-start;
}

.su-mensaje p{
    text-align: left;
}

.mensaje.su-mensaje p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #b77b49 0%, #b77b49 50%, transparent 50%, transparent);

}

.chat-input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1em;

}